.button_to {
  display: inline;
  margin-right: 2%;
}

$body-bg:    #ccffff !default;

.navbar {
  background-color: #333;
  color: #ccffff;
}

.navbar ul {
  list-style-type: none;
}

.flash-color {
  color: red;
}
