<!DOCTYPE html>
<html>
  <head>
    <title>Manager Master Lists</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <img src="http://crushmusic.com/images/logo.png" alt="Crush Music Logo" height="96" width="300"> -->
    <%= yield %>
  </body>
</html>
